<h2>Input your text, take the hash :))</h2>

<form method="POST" action="/go/sha256" onsubmit="return validate();">

	<script>function validate() {
		var value = document.getElementById('text').value;
		if (value.length < 8) {
			alert("Your input must be more than 8 chars")
			return false; // keep form from submitting
		}
		return true;
	}</script>


    <input placeholder="Write your text here" type="text" id="text" name="text">
    <button type="submit">submit</button>
</form>

<br>
<h2>input: {{ .input }}</h2>
<h2>sha256: {{ .sha_value }}</h2>
<br>
<br>

<form method="GET" action="/go/sha256">
    <input placeholder="Write your hash here" type="hash_text" id="hash_text" name="hash_text">
    <button type="submit">submit</button>
</form>

<br>
<h2>input: {{ .hash_input }}</h2>
<h2>sha256: {{ .unhashed_value }}</h2>